/* line 12, main.scss */
.hide {
  display: none;
}

/* line 16, main.scss */
.important {
  position: relative;
  left: 0px !important;
}

/*home*/
/* line 23, main.scss */
.container {
  /*position: relative;
  width: 50%;
  max-width: 500px;
  left: 90px;
  top: 13%;
  padding: 10px 20px;*/
  text-align: center;
}

/* line 33, main.scss */
.sl_tab {
  font-family: sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  text-shadow: 0 1px 1px #ccc;
}

/* line 49, main.scss */
#index_signup {
  margin-right: 15px;
}

/* line 54, main.scss */
#list_wrapper {
  float: right;
}

/* line 58, main.scss */
#list_wrapper ul {
  list-style-type: none;
  margin-top: 174px;
  padding-left: 0px;
}
/* line 62, main.scss */
#list_wrapper ul p {
  display: inline-block;
  float: left;
  text-transform: capitalize;
  color: #fff;
  font-family: sans-serif;
  font-weight: 100;
}
/* line 70, main.scss */
#list_wrapper ul p span {
  text-transform: lowercase;
}

/* line 77, main.scss */
.index_list {
  background-position: left;
  background-repeat: no-repeat;
  height: 56px;
  background-size: 32px;
  text-align: left;
  padding-left: 59px;
  text-transform: uppercase;
}

/* line 88, main.scss */
#home_scan {
  background-image: url("../images/home_scan.png");
  height: 44px;
  display: inline-block;
  float: left;
  vertical-align: middle;
}

/* line 98, main.scss */
#home_fridge {
  background-image: url("../images/home_fridge.png");
  display: inline-block;
  float: left;
}

/* line 108, main.scss */
#home_list {
  background-image: url("../images/home_list.png");
  display: inline-block;
  float: left;
}

/* line 114, main.scss */
#home_recipe {
  background-image: url("../images/home_recipe.png");
  display: inline-block;
  float: left;
}

/* line 120, main.scss */
#home_invite {
  background-image: url("../images/home_invite.png");
  display: inline-block;
  float: left;
}

/* line 125, main.scss */
.slides-navigation .fa-3x {
  font-size: 3em;
  color: #fff;
}

/* line 130, main.scss */
.slides-pagination {
  margin-bottom: 20px;
}

/* line 135, main.scss */
.slides-pagination a.current {
  background: #fff;
}

/* line 139, main.scss */
.slides-pagination a {
  border: 1px solid #fff;
}

/* line 143, main.scss */
.clear {
  clear: both;
}

/* line 147, main.scss */
.home_h1 {
  font-weight: 100;
  font-family: sans-serif;
  color: white;
  text-shadow: 0 1px 1px #000;
  margin-top: 98px;
  font-size: 2em;
  float: right;
  margin-right: 350px;
  margin-bottom: 36px;
}

/* line 163, main.scss */
#login-body {
  background-color: #e67365;
}

/* line 167, main.scss */
#login-header {
  background-color: #c25e4d;
  color: #fff;
  height: 96px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 176, main.scss */
h1 {
  padding-top: 28px;
}

/* line 180, main.scss */
#login-body form {
  margin-top: 10px;
}
/* line 185, main.scss */
#login-body form input[type=text], #login-body form input[type=password], #login-body form input[type=email] {
  height: 44px;
  width: 80%;
  border-radius: 30px;
  margin-top: 20px;
  border: 0;
  border-color: #fff;
  padding-left: 20px;
}

/* line 198, main.scss */
#email {
  background-image: url("../images/login_1.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase;
}

/* line 205, main.scss */
#password {
  background-image: url("../images/login_2.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase;
}

/* line 212, main.scss */
::-webkit-input-placeholder {
  color: #cccccc;
  padding-left: 10px;
  text-transform: uppercase;
}

/* line 219, main.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc;
  padding-left: 10px;
  text-transform: uppercase;
}

/* line 225, main.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc;
  padding-left: 10px;
  text-transform: uppercase;
}

/* line 231, main.scss */
:-ms-input-placeholder {
  color: #cccccc;
  padding-left: 10px;
  text-transform: uppercase;
}

/* line 237, main.scss */
input[type=submit], input[type=button] {
  height: 44px;
  width: 80%;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 18px;
}

/* line 256, main.scss */
input[type=submit]:hover, input[type=button]:hover {
  background-color: #fff;
  color: #e67365;
}

/* line 261, main.scss */
input[type=submit]:active, input[type=button]:active {
  background-color: #fff;
  color: #e67365;
}

/* line 266, main.scss */
#login-or {
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: -10px;
}

/* line 273, main.scss */
#login-tri {
  background: url("../images/login_tri.png") no-repeat top center;
  top: 0px;
  height: 20px;
}

/*********************************Register****************/
/* line 280, main.scss */
.back {
  display: inline-block;
  position: absolute;
  left: 11px;
  top: 8px;
  cursor: pointer;
  /*background: url("../images/white_back.png") no-repeat;
  */
}

/* line 292, main.scss */
h3 {
  /*text-transform:uppercase;*/
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 20px;
  /*text-align:left;*/
}

/* line 302, main.scss */
.back img {
  vertical-align: middle;
}

/* line 307, main.scss */
#reg-header {
  background-color: #748a42;
  color: #fff;
}

/* line 312, main.scss */
input[type=text], input[type=email], input[type=password] {
  height: 44px;
  width: 80%;
  border-radius: 30px;
  margin-top: 20px;
  border: 0;
  border-color: #fff;
  padding-left: 20px;
}

/* line 323, main.scss */
#reg-body input[type=submit]:hover, #reg-body input[type=button]:hover {
  background-color: #fff;
  color: #748a42;
}

/* line 328, main.scss */
#reg-body input[type=submit]:active, #reg-body input[type=button]:active {
  background-color: #fff;
  color: #748a42;
}

/* line 333, main.scss */
h2 {
  font-weight: lighter;
  padding: 8px;
  font-size: 16px;
  vertical-align: middle;
  margin-bottom: 0px;
  display: inline-block;
}

/* line 344, main.scss */
#reg-body {
  background-color: #748a42;
}

/* line 349, main.scss */
#reg_username {
  background-image: url("../images/username.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase;
}

/* line 356, main.scss */
#reg_email {
  background-image: url("../images/email.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase;
}

/* line 363, main.scss */
#reg_password {
  background-image: url("../images/password.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase;
}

/* line 370, main.scss */
#reg_Cpassword {
  background-image: url("../images/password.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase;
}

/*********************************Fridge****************/
/* line 378, main.scss */
#frd_frz {
  margin-top: 50px;
}

/* line 383, main.scss */
#frd-or {
  font-size: 14px;
  color: #999;
  margin-top: 10px;
  margin-bottom: -10px;
}
/* line 388, main.scss */
#frd-or img {
  margin: 0px;
}

/* line 393, main.scss */
#frd {
  background: url("../images/fridge_icon.png");
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
  cursor: pointer;
  margin-bottom: 30px;
}

/* line 405, main.scss */
#frd:hover, #frd:active {
  background: url("../images/fridge_icon_hover.png");
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
  cursor: pointer;
  margin-bottom: 30px;
}

/* line 416, main.scss */
#frz {
  background: url("../images/freezer_icon.png");
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
  cursor: pointer;
  margin-top: 30px;
}

/* line 427, main.scss */
#frz:hover, #frz:active {
  background: url("../images/freezer_icon_hover.png");
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
  cursor: pointer;
  margin-top: 30px;
}

/* line 438, main.scss */
.fridge_sort {
  text-decoration: none;
  text-align: left;
  /*line-height: 3;*/
  line-height: 3;
  display: inline;
  float: left;
}
/* line 445, main.scss */
.fridge_sort li {
  list-style-type: none;
  display: inline;
  margin-left: 5px;
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
}

/* line 455, main.scss */
#fridge-header {
  display: none;
  background-color: #fcc062;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
}
/* line 465, main.scss */
#fridge-header #fridge_sa {
  line-height: 3;
  text-decoration: none;
  float: right;
}
/* line 469, main.scss */
#fridge-header #fridge_sa li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
  margin-left: 0px;
}
/* line 474, main.scss */
#fridge-header #fridge_sa li i {
  color: #fff;
}
/* line 479, main.scss */
#fridge-header #fridge_sa #fridge_add_icon {
  cursor: pointer;
}
/* line 483, main.scss */
#fridge-header #fridge_sa #fridge_search_icon {
  cursor: pointer;
}

/* line 490, main.scss */
#fridge_body {
  display: none;
  background: url("../images/fridge_pantry.png");
  background-repeat: repeat-y;
  margin-top: -77px;
  /* -webkit-background-size: 100%;
    -moz-background-size: 100% ;
    -o-background-size: 100%;*/
  background-size: 640px;
  height: 100%;
  background-position: center top;
  /*background-color:#d3d3d3;*/
}
/* line 506, main.scss */
#fridge_body ul {
  position: relative;
  /* left: 500px; */
  top: 152px;
  /*margin-bottom: 0px;*/
  width: 640px;
  margin: 0 auto;
}
/* line 514, main.scss */
#fridge_body ul .frd_items {
  display: inline-block;
  list-style-type: none;
  width: 160px;
  	  /*	span{
  	  		
  			left: 20;
  			margin-left: -50px;
  			margin-top: 35px;
  			img{
  				width: 39px;
  				height: auto;
  			}
  
  	  	}*/
}
/* line 518, main.scss */
#fridge_body ul .frd_items p {
  position: absolute;
  top: 0;
  margin-top: 98px;
  margin-left: 38px;
}
/* line 525, main.scss */
#fridge_body ul .frd_items .editSection {
  display: inline-block;
  position: absolute;
  margin-left: -67px;
  margin-top: 34px;
  display: none;
  width: 120px;
}
/* line 532, main.scss */
#fridge_body ul .frd_items .editSection .frd_item_delete {
  background-color: #ff1d25;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 539, main.scss */
#fridge_body ul .frd_items .editSection .frd_item_edit {
  background-color: #f2f2f2;
  color: #4d4d4d;
  padding: 10px;
  margin-left: -4px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 560, main.scss */
#fridge_body ul .frd_items img {
  height: 100px;
  margin-bottom: 84px;
  cursor: pointer;
}

/* line 570, main.scss */
.fridge_footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /*	min-height:50px;*/
}
/* line 578, main.scss */
.fridge_footer ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 0px;
}
/* line 584, main.scss */
.fridge_footer ul li {
  display: inline-block;
  /*text-align:center;*/
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
}
/* line 590, main.scss */
.fridge_footer ul li img {
  width: 35px;
  vertical-align: middle;
  float: left;
}
/* line 596, main.scss */
.fridge_footer ul li p {
  text-align: center;
  color: #999;
  margin-bottom: 0;
  font-size: 10px;
  margin-top: 36px;
  text-transform: uppercase;
}
/* line 607, main.scss */
.fridge_footer ul li:nth-child(1) {
  margin-left: 0px;
}
/* line 610, main.scss */
.fridge_footer ul li:nth-child(1) img {
  margin-left: 8px;
  margin-top: 10px;
  width: 30px;
}
/* line 617, main.scss */
.fridge_footer ul li:nth-child(2) img {
  width: 22px;
  margin-top: 4px;
  margin-left: 3px;
}
/* line 623, main.scss */
.fridge_footer ul li:nth-child(3) img {
  width: 25px;
  margin-top: 2px;
  margin-left: 12px;
}
/* line 630, main.scss */
.fridge_footer ul li:nth-child(4) img {
  width: 36px;
  margin-left: 20px;
  margin-top: 5px;
}
/* line 637, main.scss */
.fridge_footer ul li:nth-child(5) img {
  width: 28px;
  margin-top: 5px;
  margin-top: 7px;
}

/* line 648, main.scss */
#fridge_search_form {
  display: none;
}

/* line 652, main.scss */
#fridge_search_form input[type=text], #fridge_search_form input[type=password], #fridge_search_form input[type=email] {
  width: 51%;
  margin-top: 6px;
  height: 30px;
  border-radius: 6px;
  vertical-align: middle;
}

/* line 660, main.scss */
#fridge_cancel {
  background: transparent;
  border: none;
  vertical-align: middle;
}
/* line 664, main.scss */
#fridge_cancel i {
  color: #fff;
}

/* line 670, main.scss */
#fridge_add {
  margin-top: 60px;
  display: none;
  /*end form*/
  /*#fridge_or*/
}
/* line 673, main.scss */
#fridge_add form {
  width: 84%;
  margin: 0 auto;
}
/* line 676, main.scss */
#fridge_add form h3 {
  color: #fcc062;
  font-size: 15px;
  float: left;
  margin-left: 0px;
  text-transform: uppercase;
  font-weight: 200;
}
/* line 685, main.scss */
#fridge_add form input[type=text], #fridge_add form input[type=email], #fridge_add form input[type=password] {
  background-color: #eee;
  border-radius: 6px;
  float: left;
  width: 94%;
}
/* line 693, main.scss */
#fridge_add form #fridge_food_expiary {
  width: 80%;
}
/* line 697, main.scss */
#fridge_add form #fridge_btn_ex {
  background: transparent;
  border: none;
  vertical-align: middle;
  margin-top: 21px;
  float: left;
  width: 10%;
  padding: 3px;
}
/* line 705, main.scss */
#fridge_add form #fridge_btn_ex i {
  color: #bbb;
  width: 100%;
}
/* line 714, main.scss */
#fridge_add #fridge_or {
  margin-top: 30px;
}
/* line 717, main.scss */
#fridge_add #fridge_or h4 {
  display: inline;
  vertical-align: middle;
  color: #808080;
}
/* line 725, main.scss */
#fridge_add #fridge_scan {
  margin-top: 30px;
  	  /*fridge_btn_scan
  */
}
/* line 728, main.scss */
#fridge_add #fridge_scan #fridge_btn_scan {
  width: 84%;
  margin: 0 auto;
  background: transparent;
  border: none;
  vertical-align: middle;
  background-color: #93a844;
  color: #fff;
  border-radius: 6px;
  padding: 15px;
  border-bottom-color: #748a42;
  border-width: 7px;
  border-bottom-style: solid;
  cursor: pointer;
  margin-bottom: 30px;
}
/* line 743, main.scss */
#fridge_add #fridge_scan #fridge_btn_scan p {
  display: inline-block;
  font-size: 25px;
  vertical-align: bottom;
  margin-bottom: 8px;
  padding-right: 20px;
}
/* line 750, main.scss */
#fridge_add #fridge_scan #fridge_btn_scan i {
  vertical-align: bottom;
}
/* line 759, main.scss */
#fridge_add #fridge_scan #fridge_btn_scan:hover,
#fridge_add #fridge_scan #fridge_btn_scan:active {
  background-color: #748a42;
  border-bottom-color: #93a844;
}

/* line 773, main.scss */
#fridge_add_step1 {
  width: 84%;
  margin: 0 auto;
}
/* line 776, main.scss */
#fridge_add_step1 .fridge_btn_cancel {
  width: 49%;
  display: inline;
  background: transparent;
  background-color: #eee;
  color: #808080;
  border: none;
  padding: 18px;
  font-size: 20px;
  cursor: pointer;
}
/* line 787, main.scss */
#fridge_add_step1 .fridge_btn_nxt {
  width: 49%;
  display: inline;
  background: transparent;
  background-color: #fcc062;
  color: #fff;
  border: none;
  padding: 18px;
  font-size: 20px;
}

/* line 801, main.scss */
#fridge_add_step2 {
  display: none;
  text-align: center;
  margin-top: 70px;
}
/* line 806, main.scss */
#fridge_add_step2 h3 {
  color: #fcc062;
  font-size: 15px;
  float: left;
  margin-left: 0px;
  text-transform: uppercase;
  font-weight: 200;
}

/*fridge_add_step2*/
/* line 819, main.scss */
.itm_left {
  float: left;
  display: inline-block;
}

/* line 824, main.scss */
.itm_title {
  text-transform: uppercase;
  /*line-height:2;*/
  text-align: left;
  /* line-height: 2; */
  width: 125px;
  font-size: 11px;
}

/* line 834, main.scss */
.itm_ans {
  text-align: left;
  margin-left: -10px;
}

/*.itm_right {
	float:right;
	display:inline-block;
}*/
/* line 844, main.scss */
#stp2_wrapper {
  width: 80%;
  margin: 0 auto;
}

/* line 849, main.scss */
#stp2_wrapper .itm_ans {
  height: 18px;
  width: auto;
  margin-top: 0px;
  padding-left: 0px;
}

/* line 856, main.scss */
#itm_name_cat {
  margin-left: 28px;
  background: transparent;
  border: 0px;
  width: 97px;
  margin-left: 0px;
}
/* line 863, main.scss */
#itm_name_cat option {
  color: #ddd;
}

/* line 868, main.scss */
#tag_container {
  background-color: #fff;
  width: 97px;
  overflow: hidden;
  background-image: url("../images/form_down.png");
  background-repeat: no-repeat;
  background-position: 95% center;
  height: 26px;
  padding-top: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px;
  border-style: solid;
  border-color: #ddd;
}

/* line 886, main.scss */
#choose {
  float: left;
  text-align: left;
  font-size: 11px;
}
/* line 890, main.scss */
#choose a {
  text-decoration: underline;
  color: #748a42;
  text-transform: uppercase;
}

/* line 898, main.scss */
#fridge_wrp_step2 {
  width: 84%;
  margin-top: 30px;
  /*margin:0 auto;*/
}
/* line 902, main.scss */
#fridge_wrp_step2 .fridge_btn_cancel {
  width: 49%;
  display: inline;
  background: transparent;
  background-color: #eee;
  color: #808080;
  border: none;
  padding: 18px;
  font-size: 20px;
  cursor: pointer;
}
/* line 913, main.scss */
#fridge_wrp_step2 .fridge_btn_nxt {
  width: 49%;
  display: inline;
  background: transparent;
  background-color: #fcc062;
  color: #fff;
  border: none;
  padding: 18px;
  font-size: 20px;
}

/* line 926, main.scss */
#fridge_add_icons {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  padding: 10px;
  /*    border: 2px solid #FFF;*/
  background: transparent;
  z-index: 1002;
  overflow: visible;
  color: #fff;
}

/* line 943, main.scss */
#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1001;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
}

/* line 957, main.scss */
#fridge_select_txt {
  border-radius: 0px;
  display: inline-block;
  width: 80%;
}

/* line 964, main.scss */
#fridge_select_sort {
  float: none;
  text-align: center;
}

/*#chosse_icon_lbl{
	text-align:left;
	float: left;
}*/
/* line 976, main.scss */
#frd_itm_search ul li {
  display: inline;
  list-style-type: none;
  margin-left: 5px;
}
/* line 980, main.scss */
#frd_itm_search ul li img {
  height: 57px;
  width: auto;
  vertical-align: middle;
}

/*********************************Over write isotope default style****************/
/* line 994, main.scss */
.portfolioFilter a {
  font-size: 10px;
  color: #fff;
}

/*********************************Over write jquery ui default style****************/
/* line 1001, main.scss */
.ui-corner-all {
  z-index: 9999;
}

/* line 1005, main.scss */
.ui-menu .ui-menu-item {
  text-align: left;
}

/* line 1009, main.scss */
.ui-autocomplete .ui-menu-item a:hover {
  background: #fcc062;
  border: none;
}

/*********************************Media Query****************/
@media (max-width: 640px) {
  /* line 1018, main.scss */
  #fridge_body {
    background: url("../images/fridge_mobile.png");
    background-size: 320px;
    background-repeat: repeat-y;
    background-position: center top;
    /*background-attachment:fixed;*/
    margin-top: -17px;
    /* overflow:scroll;*/
    height: 100%;
    /*ul*/
  }
  /* line 1029, main.scss */
  #fridge_body ul {
    position: relative;
    /* left: 500px; */
    top: 67px;
    /*margin-bottom: 0px;*/
    width: 320px;
    margin: 0 auto;
    /*frd_items*/
  }
  /* line 1037, main.scss */
  #fridge_body ul .frd_items {
    display: inline-block;
    list-style-type: none;
    width: 101px;
    margin-left: 0px;
    /*img*/
  }
  /* line 1045, main.scss */
  #fridge_body ul .frd_items .editSection {
    width: 102px;
    z-index: 9999;
    display: none;
  }
  /* line 1049, main.scss */
  #fridge_body ul .frd_items .editSection .frd_item_delete {
    font-size: 10px;
    padding: 5px;
  }
  /* line 1053, main.scss */
  #fridge_body ul .frd_items .editSection .frd_item_edit {
    font-size: 10px;
    padding: 5px;
  }
  /* line 1058, main.scss */
  #fridge_body ul .frd_items img {
    height: 62px;
    margin-bottom: 28px;
  }

  /*fridge_body*/
  /* line 1068, main.scss */
  #frd_frz {
    margin-top: 20px;
  }

  /* line 1074, main.scss */
  #frd {
    background: url("../images/fridge_icon.png");
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  /* line 1086, main.scss */
  #frd:hover, #frd:active {
    background: url("../images/fridge_icon_hover.png");
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  /* line 1097, main.scss */
  #frz {
    background: url("../images/freezer_icon.png");
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85px;
    cursor: pointer;
    margin-top: 10px;
  }

  /* line 1108, main.scss */
  #frz:hover, #frz:active {
    background: url("../images/freezer_icon_hover.png");
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85px;
    cursor: pointer;
    margin-top: 10px;
  }
}
/*media query*/
/*********************************END Media Query****************/
