/*home*/
/* line 12, main.scss */
.container {
  /*position: relative;
  width: 50%;
  max-width: 500px;
  left: 90px;
  top: 13%;
  padding: 10px 20px;*/
  text-align: center;
}

/* line 22, main.scss */
.sl_tab {
  font-family: sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  text-shadow: 0 1px 1px #ccc;
}

/* line 38, main.scss */
#index_signup {
  margin-right: 15px;
}

/* line 43, main.scss */
#list_wrapper {
  float: right;
}

/* line 47, main.scss */
#list_wrapper ul {
  list-style-type: none;
  margin-top: 174px;
  padding-left: 0px;
}
/* line 51, main.scss */
#list_wrapper ul p {
  display: inline-block;
  float: left;
  text-transform: capitalize;
  color: #fff;
  font-family: sans-serif;
  font-weight: 100;
}
/* line 59, main.scss */
#list_wrapper ul p span {
  text-transform: lowercase;
}

/* line 66, main.scss */
.index_list {
  background-position: left;
  background-repeat: no-repeat;
  height: 56px;
  background-size: 32px;
  text-align: left;
  padding-left: 59px;
  text-transform: uppercase;
}

/* line 77, main.scss */
#home_scan {
  background-image: url("../images/home_scan.png");
  height: 44px;
  display: inline-block;
  float: left;
  vertical-align: middle;
}

/* line 87, main.scss */
#home_fridge {
  background-image: url("../images/home_fridge.png");
  display: inline-block;
  float: left;
}

/* line 97, main.scss */
#home_list {
  background-image: url("../images/home_list.png");
  display: inline-block;
  float: left;
}

/* line 103, main.scss */
#home_recipe {
  background-image: url("../images/home_recipe.png");
  display: inline-block;
  float: left;
}

/* line 109, main.scss */
#home_invite {
  background-image: url("../images/home_invite.png");
  display: inline-block;
  float: left;
}

/* line 114, main.scss */
.slides-navigation .fa-3x {
  font-size: 3em;
  color: #fff;
}

/* line 119, main.scss */
.slides-pagination {
  margin-bottom: 20px;
}

/* line 124, main.scss */
.slides-pagination a.current {
  background: #fff;
}

/* line 128, main.scss */
.slides-pagination a {
  border: 1px solid #fff;
}

/* line 132, main.scss */
.clear {
  clear: both;
}

/* line 136, main.scss */
.home_h1 {
  font-weight: 100;
  font-family: sans-serif;
  color: white;
  text-shadow: 0 1px 1px #000;
  margin-top: 98px;
  font-size: 2em;
  float: right;
  margin-right: 350px;
  margin-bottom: 36px;
}

/* line 152, main.scss */
#login-body {
  background-color: #e67365;
}

/* line 156, main.scss */
#login-header {
  background-color: #c25e4d;
  color: #fff;
  height: 96px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 165, main.scss */
h1 {
  padding-top: 28px;
}

/* line 169, main.scss */
#login-body form {
  margin-top: 10px;
}
/* line 174, main.scss */
#login-body form input[type=text] {
  height: 44px;
  width: 80%;
  border-radius: 30px;
  margin-top: 20px;
  border: 0;
  border-color: #fff;
  padding-left: 20px;
}

/* line 187, main.scss */
#email {
  background-image: url("../images/login_1.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase;
}

/* line 194, main.scss */
#password {
  background-image: url("../images/login_2.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase;
}

/* line 201, main.scss */
::-webkit-input-placeholder {
  color: #cccccc;
  padding-left: 10px;
  text-transform: uppercase;
}

/* line 208, main.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc;
  padding-left: 10px;
  text-transform: uppercase;
}

/* line 214, main.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc;
  padding-left: 10px;
  text-transform: uppercase;
}

/* line 220, main.scss */
:-ms-input-placeholder {
  color: #cccccc;
  padding-left: 10px;
  text-transform: uppercase;
}

/* line 226, main.scss */
input[type=submit] {
  height: 44px;
  width: 80%;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 18px;
}

/* line 245, main.scss */
input[type=submit]:hover {
  background-color: #fff;
  color: #e67365;
}

/* line 250, main.scss */
input[type=submit]:active {
  background-color: #fff;
  color: #e67365;
}

/* line 255, main.scss */
#login-or {
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: -10px;
}

/* line 262, main.scss */
#login-tri {
  background: url("../images/login_tri.png") no-repeat top center;
  top: 0px;
  height: 20px;
}

/*********************************Register****************/
/* line 269, main.scss */
.back {
  display: inline-block;
  position: absolute;
  left: 11px;
  top: 8px;
  cursor: pointer;
  /*background: url("../images/white_back.png") no-repeat;
  */
}

/* line 281, main.scss */
h3 {
  /*text-transform:uppercase;*/
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 20px;
  /*text-align:left;*/
}

/* line 291, main.scss */
.back img {
  vertical-align: middle;
}

/* line 296, main.scss */
#reg-header {
  background-color: #748a42;
  color: #fff;
}

/* line 301, main.scss */
input[type=text] {
  height: 44px;
  width: 80%;
  border-radius: 30px;
  margin-top: 20px;
  border: 0;
  border-color: #fff;
  padding-left: 20px;
}

/* line 312, main.scss */
#reg-body input[type=submit]:hover {
  background-color: #fff;
  color: #748a42;
}

/* line 317, main.scss */
#reg-body input[type=submit]:active {
  background-color: #fff;
  color: #748a42;
}

/* line 322, main.scss */
h2 {
  font-weight: lighter;
  padding: 8px;
  font-size: 16px;
  vertical-align: middle;
  margin-bottom: 0px;
  display: inline-block;
}

/* line 333, main.scss */
#reg-body {
  background-color: #748a42;
}

/* line 338, main.scss */
#reg_username {
  background-image: url("../images/username.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase;
}

/* line 345, main.scss */
#reg_email {
  background-image: url("../images/email.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase;
}

/* line 352, main.scss */
#reg_password {
  background-image: url("../images/password.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase;
}

/* line 359, main.scss */
#reg_Cpassword {
  background-image: url("../images/password.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase;
}

/*********************************Fridge****************/
/* line 368, main.scss */
.fridge_sort {
  text-decoration: none;
  text-align: left;
  /*line-height: 3;*/
  line-height: 3;
  display: inline;
  float: left;
}
/* line 375, main.scss */
.fridge_sort li {
  list-style-type: none;
  display: inline;
  margin-left: 5px;
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
}

/* line 385, main.scss */
#fridge-header {
  background-color: #fcc062;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
}
/* line 394, main.scss */
#fridge-header #fridge_sa {
  line-height: 3;
  text-decoration: none;
  float: right;
}
/* line 398, main.scss */
#fridge-header #fridge_sa li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
  margin-left: 0px;
}
/* line 403, main.scss */
#fridge-header #fridge_sa li i {
  color: #fff;
}
/* line 408, main.scss */
#fridge-header #fridge_sa #fridge_add_icon {
  cursor: pointer;
}
/* line 412, main.scss */
#fridge-header #fridge_sa #fridge_search_icon {
  cursor: pointer;
}

/* line 419, main.scss */
#fridge_body {
  background: url("../images/fridge_pantry.png");
  background-repeat: repeat-y;
  margin-top: 44px;
  /* -webkit-background-size: 100%;
    -moz-background-size: 100% ;
    -o-background-size: 100%;*/
  background-size: 640px;
  height: 100%;
  background-position: center;
}

/* line 432, main.scss */
.fridge_footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /*	min-height:50px;*/
}
/* line 440, main.scss */
.fridge_footer ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 0px;
}
/* line 446, main.scss */
.fridge_footer ul li {
  display: inline-block;
  /*text-align:center;*/
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 25px;
}
/* line 452, main.scss */
.fridge_footer ul li img {
  width: 35px;
  vertical-align: middle;
  float: left;
}
/* line 458, main.scss */
.fridge_footer ul li p {
  text-align: center;
  color: #999;
  margin-bottom: 0;
  font-size: 10px;
  margin-top: 36px;
  text-transform: uppercase;
}
/* line 469, main.scss */
.fridge_footer ul li:nth-child(1) {
  margin-left: 0px;
}
/* line 472, main.scss */
.fridge_footer ul li:nth-child(1) img {
  margin-left: 8px;
  margin-top: 10px;
  width: 30px;
}
/* line 479, main.scss */
.fridge_footer ul li:nth-child(2) img {
  width: 22px;
  margin-top: 4px;
  margin-left: 3px;
}
/* line 485, main.scss */
.fridge_footer ul li:nth-child(3) img {
  width: 25px;
  margin-top: 2px;
  margin-left: 12px;
}
/* line 492, main.scss */
.fridge_footer ul li:nth-child(4) img {
  width: 36px;
  margin-left: 20px;
  margin-top: 5px;
}
/* line 499, main.scss */
.fridge_footer ul li:nth-child(5) img {
  width: 28px;
  margin-top: 5px;
  margin-top: 7px;
}

/* line 510, main.scss */
#fridge_search_form {
  display: none;
}

/* line 514, main.scss */
#fridge_search_form input[type=text] {
  width: 51%;
  margin-top: 6px;
  height: 30px;
  border-radius: 6px;
  vertical-align: middle;
}

/* line 522, main.scss */
#fridge_cancel {
  background: transparent;
  border: none;
  vertical-align: middle;
}
/* line 526, main.scss */
#fridge_cancel i {
  color: #fff;
}

/* line 531, main.scss */
#fridge_body {
  /*display:none;*/
}

/* line 535, main.scss */
#fridge_add {
  margin-top: 60px;
  display: none;
  /*end form*/
  /*#fridge_or*/
}
/* line 538, main.scss */
#fridge_add form {
  width: 84%;
  margin: 0 auto;
}
/* line 541, main.scss */
#fridge_add form h3 {
  color: #fcc062;
  font-size: 15px;
  float: left;
  margin-left: 0px;
  text-transform: uppercase;
  font-weight: 200;
}
/* line 550, main.scss */
#fridge_add form input[type=text] {
  background-color: #eee;
  border-radius: 6px;
  float: left;
  width: 94%;
}
/* line 558, main.scss */
#fridge_add form #fridge_food_expiary {
  width: 80%;
}
/* line 562, main.scss */
#fridge_add form #fridge_btn_ex {
  background: transparent;
  border: none;
  vertical-align: middle;
  margin-top: 21px;
  float: left;
  width: 10%;
  padding: 3px;
}
/* line 570, main.scss */
#fridge_add form #fridge_btn_ex i {
  color: #bbb;
  width: 100%;
}
/* line 579, main.scss */
#fridge_add #fridge_or {
  margin-top: 30px;
}
/* line 582, main.scss */
#fridge_add #fridge_or h4 {
  display: inline;
  vertical-align: middle;
  color: #808080;
}
/* line 590, main.scss */
#fridge_add #fridge_scan {
  margin-top: 30px;
  	  /*fridge_btn_scan
  */
}
/* line 593, main.scss */
#fridge_add #fridge_scan #fridge_btn_scan {
  width: 84%;
  margin: 0 auto;
  background: transparent;
  border: none;
  vertical-align: middle;
  background-color: #93a844;
  color: #fff;
  border-radius: 6px;
  padding: 15px;
  border-bottom-color: #748a42;
  border-width: 7px;
  border-bottom-style: solid;
  cursor: pointer;
  margin-bottom: 30px;
}
/* line 608, main.scss */
#fridge_add #fridge_scan #fridge_btn_scan p {
  display: inline-block;
  font-size: 25px;
  vertical-align: bottom;
  margin-bottom: 8px;
  padding-right: 20px;
}
/* line 615, main.scss */
#fridge_add #fridge_scan #fridge_btn_scan i {
  vertical-align: bottom;
}
/* line 624, main.scss */
#fridge_add #fridge_scan #fridge_btn_scan:hover,
#fridge_add #fridge_scan #fridge_btn_scan:active {
  background-color: #748a42;
  border-bottom-color: #93a844;
}

/* line 638, main.scss */
#fridge_add_step1 {
  width: 84%;
  margin: 0 auto;
}
/* line 641, main.scss */
#fridge_add_step1 .fridge_btn_cancel {
  width: 49%;
  display: inline;
  background: transparent;
  background-color: #eee;
  color: #808080;
  border: none;
  padding: 18px;
  font-size: 20px;
  cursor: pointer;
}
/* line 652, main.scss */
#fridge_add_step1 .fridge_btn_nxt {
  width: 49%;
  display: inline;
  background: transparent;
  background-color: #fcc062;
  color: #fff;
  border: none;
  padding: 18px;
  font-size: 20px;
}

/* line 666, main.scss */
#fridge_add_step2 {
  display: none;
  text-align: center;
  margin-top: 70px;
}
/* line 671, main.scss */
#fridge_add_step2 h3 {
  color: #fcc062;
  font-size: 15px;
  float: left;
  margin-left: 0px;
  text-transform: uppercase;
  font-weight: 200;
}

/*fridge_add_step2*/
/* line 684, main.scss */
.itm_left {
  float: left;
  display: inline-block;
}

/* line 689, main.scss */
.itm_title {
  text-transform: uppercase;
  /*line-height:2;*/
  text-align: left;
  /* line-height: 2; */
  width: 125px;
  font-size: 11px;
}

/* line 699, main.scss */
.itm_ans {
  text-align: left;
  margin-left: -10px;
}

/*.itm_right {
	float:right;
	display:inline-block;
}*/
/* line 709, main.scss */
#stp2_wrapper {
  width: 80%;
  margin: 0 auto;
}

/* line 714, main.scss */
#stp2_wrapper .itm_ans {
  height: 18px;
  width: auto;
  margin-top: 0px;
  padding-left: 0px;
}

/* line 721, main.scss */
#itm_name_cat {
  margin-left: 28px;
  background: transparent;
  border: 0px;
  width: 97px;
  margin-left: 0px;
}
/* line 728, main.scss */
#itm_name_cat option {
  color: #ddd;
}

/* line 733, main.scss */
#tag_container {
  background-color: #fff;
  width: 97px;
  overflow: hidden;
  background-image: url("../images/form_down.png");
  background-repeat: no-repeat;
  background-position: 95% center;
  height: 26px;
  padding-top: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px;
  border-style: solid;
  border-color: #ddd;
}

/* line 751, main.scss */
#choose {
  float: left;
  text-align: left;
  font-size: 11px;
}
/* line 755, main.scss */
#choose a {
  text-decoration: none;
  color: #748a42;
  text-transform: uppercase;
}

/* line 763, main.scss */
#fridge_wrp_step2 {
  width: 84%;
  margin-top: 30px;
  /*margin:0 auto;*/
}
/* line 767, main.scss */
#fridge_wrp_step2 .fridge_btn_cancel {
  width: 49%;
  display: inline;
  background: transparent;
  background-color: #eee;
  color: #808080;
  border: none;
  padding: 18px;
  font-size: 20px;
  cursor: pointer;
}
/* line 778, main.scss */
#fridge_wrp_step2 .fridge_btn_nxt {
  width: 49%;
  display: inline;
  background: transparent;
  background-color: #fcc062;
  color: #fff;
  border: none;
  padding: 18px;
  font-size: 20px;
}

/* line 791, main.scss */
#fridge_add_icons {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  padding: 10px;
  /*    border: 2px solid #FFF;*/
  background: transparent;
  z-index: 1002;
  overflow: visible;
  color: #fff;
}

/* line 808, main.scss */
#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1001;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
}

/* line 822, main.scss */
#fridge_select_txt {
  border-radius: 0px;
  display: inline-block;
  width: 80%;
}

/* line 829, main.scss */
#fridge_select_sort {
  float: none;
  text-align: center;
}

/*#chosse_icon_lbl{
	text-align:left;
	float: left;
}*/
/*********************************Media Query****************/
@media (max-width: 640px) {
  /* line 844, main.scss */
  #fridge_body {
    background: url("../images/fridge_mobile.png");
    background-size: 320px;
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
    margin-top: -36px;
    overflow: scroll;
    height: 100%;
  }
}
/*********************************END Media Query****************/
