/*home*/
.container {
  /*position: relative;
  width: 50%;
  max-width: 500px;
  left: 90px;
  top: 13%;
  padding: 10px 20px;*/
  text-align: center; }

.sl_tab {
  font-family: sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  text-shadow: 0 1px 1px #ccc; }

#index_signup {
  margin-right: 15px; }

#list_wrapper {
  float: right; }

#list_wrapper ul {
  list-style-type: none;
  margin-top: 174px;
  padding-left: 0px; }
  #list_wrapper ul p {
    display: inline-block;
    float: left;
    text-transform: capitalize;
    color: #fff;
    font-family: sans-serif;
    font-weight: 100; }
    #list_wrapper ul p span {
      text-transform: lowercase; }

.index_list {
  background-position: left;
  background-repeat: no-repeat;
  height: 56px;
  background-size: 32px;
  text-align: left;
  padding-left: 59px;
  text-transform: uppercase; }

#home_scan {
  background-image: url("../images/home_scan.png");
  height: 44px;
  display: inline-block;
  float: left;
  vertical-align: middle; }

#home_fridge {
  background-image: url("../images/home_fridge.png");
  display: inline-block;
  float: left; }

#home_list {
  background-image: url("../images/home_list.png");
  display: inline-block;
  float: left; }

#home_recipe {
  background-image: url("../images/home_recipe.png");
  display: inline-block;
  float: left; }

#home_invite {
  background-image: url("../images/home_invite.png");
  display: inline-block;
  float: left; }

.slides-navigation .fa-3x {
  font-size: 3em;
  color: #fff; }

.slides-pagination {
  margin-bottom: 20px; }

.slides-pagination a.current {
  background: #fff; }

.slides-pagination a {
  border: 1px solid #fff; }

.clear {
  clear: both; }

.home_h1 {
  font-weight: 100;
  font-family: sans-serif;
  color: white;
  text-shadow: 0 1px 1px #000;
  margin-top: 98px;
  font-size: 2em;
  float: right;
  margin-right: 350px;
  margin-bottom: 36px; }

#login-body {
  background-color: #e67365; }

#login-header {
  background-color: #c25e4d;
  color: #fff;
  height: 96px;
  padding-top: 15px;
  padding-bottom: 15px; }

h1 {
  padding-top: 28px; }

#login-body form {
  margin-top: 10px; }
  #login-body form input[type=text], #login-body form input[type=email], #login-body form input[type=password] {
    height: 44px;
    width: 80%;
    border-radius: 30px;
    margin-top: 20px;
    border: 0;
    border-color: #fff;
    padding-left: 20px; }

#email {
  background-image: url("../images/login_1.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase; }

#password {
  background-image: url("../images/login_2.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase; }

::-webkit-input-placeholder {
  color: #cccccc;
  padding-left: 10px;
  text-transform: uppercase; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc;
  padding-left: 10px;
  text-transform: uppercase; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc;
  padding-left: 10px;
  text-transform: uppercase; }

:-ms-input-placeholder {
  color: #cccccc;
  padding-left: 10px;
  text-transform: uppercase; }

input[type=submit], input[type=button] {
  height: 44px;
  width: 80%;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 18px; }

input[type=submit]:hover, input[type=button]:hover {
  background-color: #fff;
  color: #e67365; }

input[type=submit]:active, input[type=button]:active {
  background-color: #fff;
  color: #e67365; }

#login-or {
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: -10px; }

#login-tri {
  background: url("../images/login_tri.png") no-repeat top center;
  top: 0px;
  height: 20px; }

/*********************************Register****************/
label.errorMsg {
  display: block; }

.back {
  display: inline-block;
  position: absolute;
  left: 11px;
  top: 8px;
  cursor: pointer;
  /*background: url("../images/white_back.png") no-repeat;
  */ }

h3 {
  /*text-transform:uppercase;*/
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 20px;
  /*text-align:left;*/ }

.back img {
  vertical-align: middle; }

#reg-header {
  background-color: #748a42;
  color: #fff; }

input[type=text], input[type=email], input[type=password] {
  height: 44px;
  width: 80%;
  border-radius: 30px;
  margin-top: 20px;
  border: 0;
  border-color: #fff;
  padding-left: 20px; }

#reg-body input[type=submit]:hover {
  background-color: #fff;
  color: #748a42; }

#reg-body input[type=submit]:active {
  background-color: #fff;
  color: #748a42; }

h2 {
  font-weight: lighter;
  padding: 8px;
  font-size: 16px;
  vertical-align: middle;
  margin-bottom: 0px;
  display: inline-block; }

#reg-body {
  background-color: #748a42; }

#reg_username {
  background-image: url("../images/username.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase; }

#reg_email {
  background-image: url("../images/email.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase; }

#reg_password {
  background-image: url("../images/password.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase; }

#reg_Cpassword {
  background-image: url("../images/password.png");
  background-repeat: no-repeat;
  background-position: 98%;
  text-transform: uppercase; }

/*********************************Fridge****************/
#fridge-header {
  background-color: #fcc062;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px; }
  #fridge-header #fridge_sort {
    text-decoration: none;
    text-align: left;
    /*line-height: 3;*/
    line-height: 3;
    display: inline;
    float: left; }
    #fridge-header #fridge_sort li {
      list-style-type: none;
      display: inline;
      margin-left: 5px;
      color: #fff;
      font-size: 12px;
      vertical-align: middle; }
  #fridge-header #fridge_sa {
    line-height: 3;
    text-decoration: none;
    float: right; }
    #fridge-header #fridge_sa li {
      list-style-type: none;
      display: inline;
      margin-right: 20px;
      margin-left: 0px; }
      #fridge-header #fridge_sa li i {
        color: #fff; }
    #fridge-header #fridge_sa #fridge_add_icon {
      cursor: pointer; }
    #fridge-header #fridge_sa #fridge_search_icon {
      cursor: pointer; }

#fridge_body {
  background: url("../images/fridge_pantry.png");
  background-repeat: repeat-y;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 100%;
  margin-top: -40px; }
  #fridge_body img {
    cursor: pointer; }
  #fridge_body .editSection {
    display: none; }

.fridge_footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /*	min-height:50px;*/ }
  .fridge_footer ul {
    list-style-type: none;
    text-align: center;
    margin-bottom: 0px; }
    .fridge_footer ul li {
      display: inline-block;
      /*text-align:center;*/
      vertical-align: middle;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: 25px; }
      .fridge_footer ul li img {
        width: 35px;
        vertical-align: middle;
        float: left; }
      .fridge_footer ul li p {
        text-align: center;
        color: #999;
        margin-bottom: 0;
        font-size: 10px;
        margin-top: 36px;
        text-transform: uppercase; }
    .fridge_footer ul li:nth-child(1) {
      margin-left: 0px; }
      .fridge_footer ul li:nth-child(1) img {
        margin-left: 8px;
        margin-top: 10px;
        width: 30px; }
    .fridge_footer ul li:nth-child(2) img {
      width: 22px;
      margin-top: 4px;
      margin-left: 3px; }
    .fridge_footer ul li:nth-child(3) img {
      width: 25px;
      margin-top: 2px;
      margin-left: 12px; }
    .fridge_footer ul li:nth-child(4) img {
      width: 36px;
      margin-left: 20px;
      margin-top: 5px; }
    .fridge_footer ul li:nth-child(5) img {
      width: 28px;
      margin-top: 5px;
      margin-top: 7px; }

#fridge_search_form {
  display: none; }

#fridge_search_form input[type=text] {
  width: 51%;
  margin-top: 6px;
  height: 30px;
  border-radius: 6px;
  vertical-align: middle; }

#fridge_cancel {
  background: transparent;
  border: none;
  vertical-align: middle; }
  #fridge_cancel i {
    color: #fff; }

#fridge_body {
  /*display:none;*/ }

#fridge_add {
  margin-top: 60px;
  display: none;
  /*end form*/
  /*#fridge_or*/ }
  #fridge_add form {
    width: 84%;
    margin: 0 auto; }
    #fridge_add form h3 {
      color: #fcc062;
      font-size: 15px;
      float: left;
      margin-left: 0px;
      text-transform: uppercase;
      font-weight: 200; }
    #fridge_add form input[type=text] {
      background-color: #eee;
      border-radius: 6px;
      float: left;
      width: 94%; }
    #fridge_add form #fridge_food_expiary {
      width: 80%; }
    #fridge_add form #fridge_btn_ex {
      background: transparent;
      border: none;
      vertical-align: middle;
      margin-top: 21px;
      float: left;
      width: 10%;
      padding: 3px; }
      #fridge_add form #fridge_btn_ex i {
        color: #bbb;
        width: 100%; }
  #fridge_add #fridge_or {
    margin-top: 30px; }
    #fridge_add #fridge_or h4 {
      display: inline;
      vertical-align: middle;
      color: #808080; }
  #fridge_add #fridge_scan {
    margin-top: 30px;
    	  /*fridge_btn_scan
    */ }
    #fridge_add #fridge_scan #fridge_btn_scan {
      width: 84%;
      margin: 0 auto;
      background: transparent;
      border: none;
      vertical-align: middle;
      background-color: #93a844;
      color: #fff;
      border-radius: 6px;
      padding: 15px;
      border-bottom-color: #748a42;
      border-width: 7px;
      border-bottom-style: solid;
      cursor: pointer;
      margin-bottom: 30px; }
      #fridge_add #fridge_scan #fridge_btn_scan p {
        display: inline-block;
        font-size: 25px;
        vertical-align: bottom;
        margin-bottom: 8px;
        padding-right: 20px; }
      #fridge_add #fridge_scan #fridge_btn_scan i {
        vertical-align: bottom; }
    #fridge_add #fridge_scan #fridge_btn_scan:hover,
    #fridge_add #fridge_scan #fridge_btn_scan:active {
      background-color: #748a42;
      border-bottom-color: #93a844; }

#fridge_add_step1 {
  width: 84%;
  margin: 0 auto; }
  #fridge_add_step1 .fridge_btn_cancel {
    width: 49%;
    display: inline;
    background: transparent;
    background-color: #eee;
    color: #808080;
    border: none;
    padding: 18px;
    font-size: 20px;
    cursor: pointer; }
  #fridge_add_step1 .fridge_btn_nxt {
    width: 49%;
    display: inline;
    background: transparent;
    background-color: #fcc062;
    color: #fff;
    border: none;
    padding: 18px;
    font-size: 20px; }

#fridge_add_step2 {
  display: none; }
  #fridge_add_step2 h3 {
    color: #fcc062;
    font-size: 15px;
    float: left;
    margin-left: 0px;
    text-transform: uppercase;
    font-weight: 200; }
